
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
.col {
  width: 28.91px;
  height: 28.91px;
}
body::before{
  display: block;
  content: '';
  height: 60px;
}
.typeText::after {
  content: "|";
  animation: blink 1s infinite;
}


@keyframes blink {
  0%, 100% {opacity: 1;}
  50% {opacity: 0;}
}
